@charset "UTF-8";
/*
    em HTML é id, em CSS é # (só um elemento em cada pagina)
    em HTML é class, em CSS é . (mais de um elemento em cada pagina)
*/
body{
    background-color: rgba(0, 255, 255, 0.651);
    font-family: sans-serif;
}

h1{
    color: rgb(3, 100, 100);
}
h1#principal{
    text-align: center;
    background-color: rgb(3, 100, 100);
    color: rgb(255, 255, 255);
}
h2{
    color: rgb(30, 82, 82);
}
.basico{
    color: rgb(30, 82, 82);
    font-weight: bolder;
}
.intermediaria{
    color: brown;
}
.avancado{
    color: bisque;
}
.destaque{
    background-color: rgb(255, 145, 0);
}